.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-loginPerson {
  width: 1.5rem;
  height: 1.8rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='18' viewBox='0 0 15 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_20)'%3E%3Cpath d='M7.50051 11.6653C4.45834 11.6653 1.98385 9.0493 1.98385 5.83317C1.98385 2.61705 4.45834 0 7.50051 0C10.5427 0 13.0182 2.61598 13.0182 5.8321C13.0182 9.04822 10.5427 11.6642 7.50051 11.6642V11.6653ZM7.50051 1.82186C5.40819 1.82186 3.70717 3.62122 3.70717 5.8321C3.70717 8.04298 5.4092 9.84234 7.50051 9.84234C9.59181 9.84234 11.2949 8.04298 11.2949 5.8321C11.2949 3.62122 9.59282 1.82186 7.50051 1.82186Z' fill='%23CCCCCC'/%3E%3Cpath d='M0.861661 18C0.386227 18 0 17.5917 0 17.0891C0 13.8301 1.80138 10.8251 4.58911 9.43189C5.01892 9.21648 5.53288 9.41153 5.73664 9.86592C5.94039 10.3203 5.7559 10.8637 5.32608 11.0791C3.13746 12.1722 1.72332 14.531 1.72332 17.0891C1.72332 17.5917 1.3371 18 0.861661 18Z' fill='%23CCCCCC'/%3E%3Cpath d='M14.1383 18C13.6629 18 13.2767 17.5917 13.2767 17.0891C13.2767 14.531 11.8625 12.1722 9.67392 11.0791C9.24309 10.8637 9.05961 10.3214 9.26336 9.86592C9.46611 9.41153 9.98006 9.21648 10.4109 9.43189C13.1996 10.8251 15.001 13.8301 15.001 17.0891C15.001 17.5917 14.6148 18 14.1394 18H14.1383Z' fill='%23CCCCCC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_20'%3E%3Crect width='15' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 1.5rem 1.8rem;
  background-position: 1rem center;
}
.icon-loginLocker {
  width: 1.3rem;
  height: 1.8rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='18' viewBox='0 0 13 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_13)'%3E%3Cpath d='M6.5 18C2.9154 18 0 15.3924 0 12.1889C0 8.98532 2.9154 6.37777 6.5 6.37777C10.0846 6.37777 13 8.9842 13 12.1889C13 15.3936 10.0846 18 6.5 18ZM6.5 8.29675C4.09975 8.29675 2.14646 10.043 2.14646 12.1889C2.14646 14.3348 4.09975 16.081 6.5 16.081C8.90025 16.081 10.8535 14.3348 10.8535 12.1889C10.8535 10.043 8.90025 8.29675 6.5 8.29675Z' fill='%23CCCCCC'/%3E%3Cpath d='M10.7626 10.1401C10.1705 10.1401 9.6894 9.71002 9.6894 9.18061V4.79744C9.6894 3.21033 8.24495 1.91898 6.4697 1.91898C4.69445 1.91898 3.25 3.21033 3.25 4.79744V9.18061C3.25 9.71002 2.76894 10.1401 2.17677 10.1401C1.5846 10.1401 1.10354 9.71002 1.10354 9.18061V4.79744C1.10354 2.15264 3.5101 0 6.4697 0C9.4293 0 11.8359 2.15264 11.8359 4.79744V9.18061C11.8359 9.71002 11.3548 10.1401 10.7626 10.1401Z' fill='%23CCCCCC'/%3E%3Cpath d='M6.46969 13.978C5.87752 13.978 5.39646 13.548 5.39646 13.0186V11.7769C5.39646 11.2475 5.87752 10.8174 6.46969 10.8174C7.06187 10.8174 7.54293 11.2475 7.54293 11.7769V13.0186C7.54293 13.548 7.06187 13.978 6.46969 13.978Z' fill='%23CCCCCC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_13'%3E%3Crect width='13' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 1.5rem 1.8rem;
  background-position: 1rem center;
}
.icon-preview {
  width: 1.2rem;
  height: 2.9rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10_34)'%3E%3Cpath d='M12 2.11328L2.48659 11.3801L12 20.6525L10.7596 21.8608L0 11.3801L10.7596 0.90506L12 2.11328Z' fill='%23262626'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10_34'%3E%3Crect width='12' height='20.9557' fill='white' transform='matrix(-1 0 0 1 12 0.90506)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 1.2rem 2.9rem;
}
.icon-sideMenu {
  width: 2.8rem;
  height: 1.7rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='28' height='18' viewBox='0 0 28 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='9.83545' x2='28' y2='9.83545' stroke='black'/%3E%3Cline y1='17.4557' x2='28' y2='17.4557' stroke='black'/%3E%3Cline y1='2.21518' x2='22' y2='2.21518' stroke='black'/%3E%3Cellipse cx='26.5' cy='2.23892' rx='1.5' ry='1.4288' fill='black'/%3E%3C/svg%3E%0A");
  background-size: 2.8rem 1.7rem;
}
.icon-datepicker {
  width: 1.4rem;
  height: 0.1 0.2rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_12_53)'%3E%3Cpath d='M12.7855 12H1.21446C0.545157 12 0 11.4863 0 10.8557V2.01907C0 1.38715 0.545157 0.874756 1.21446 0.874756H12.7855C13.4548 0.874756 14 1.38842 14 2.01907V10.8557C14 11.4863 13.4548 12 12.7855 12ZM1.21446 1.63763C0.991807 1.63763 0.809639 1.80928 0.809639 2.01907V10.8557C0.809639 11.0655 0.991807 11.2371 1.21446 11.2371H12.7855C13.0082 11.2371 13.1904 11.0655 13.1904 10.8557V2.01907C13.1904 1.80928 13.0082 1.63763 12.7855 1.63763H1.21446Z' fill='%23424242'/%3E%3Cpath d='M13.4602 4.30769H0.555942C0.331942 4.30769 0.151123 4.13731 0.151123 3.92625C0.151123 3.71519 0.331942 3.54482 0.555942 3.54482H13.4602C13.6842 3.54482 13.865 3.71519 13.865 3.92625C13.865 4.13731 13.6842 4.30769 13.4602 4.30769Z' fill='%23424242'/%3E%3Cpath d='M3.89573 2.51113C3.67173 2.51113 3.49091 2.34075 3.49091 2.12969V0.381437C3.49091 0.170375 3.67173 0 3.89573 0C4.11972 0 4.30054 0.170375 4.30054 0.381437V2.12969C4.30054 2.34075 4.11972 2.51113 3.89573 2.51113Z' fill='%23424242'/%3E%3Cpath d='M6.99936 2.51113C6.77536 2.51113 6.59454 2.34075 6.59454 2.12969V0.381437C6.59454 0.170375 6.77536 0 6.99936 0C7.22336 0 7.40418 0.170375 7.40418 0.381437V2.12969C7.40418 2.34075 7.22336 2.51113 6.99936 2.51113Z' fill='%23424242'/%3E%3Cpath d='M10.1029 2.51113C9.87894 2.51113 9.69812 2.34075 9.69812 2.12969V0.381437C9.69812 0.170375 9.87894 0 10.1029 0C10.3269 0 10.5078 0.170375 10.5078 0.381437V2.12969C10.5078 2.34075 10.3269 2.51113 10.1029 2.51113Z' fill='%23424242'/%3E%3Cpath d='M3.18458 5.57915H2.16309V6.45391H3.18458V5.57915Z' fill='%23424242'/%3E%3Cpath d='M5.38142 5.57915H4.35992V6.45391H5.38142V5.57915Z' fill='%23424242'/%3E%3Cpath d='M7.5782 5.57915H6.5567V6.45391H7.5782V5.57915Z' fill='%23424242'/%3E%3Cpath d='M9.77503 5.57915H8.75354V6.45391H9.77503V5.57915Z' fill='%23424242'/%3E%3Cpath d='M11.9719 5.57915H10.9504V6.45391H11.9719V5.57915Z' fill='%23424242'/%3E%3Cpath d='M3.18458 7.39098H2.16309V8.26574H3.18458V7.39098Z' fill='%23424242'/%3E%3Cpath d='M5.38142 7.39098H4.35992V8.26574H5.38142V7.39098Z' fill='%23424242'/%3E%3Cpath d='M7.5782 7.39098H6.5567V8.26574H7.5782V7.39098Z' fill='%23424242'/%3E%3Cpath d='M9.77503 7.39098H8.75354V8.26574H9.77503V7.39098Z' fill='%23424242'/%3E%3Cpath d='M11.9719 7.39098H10.9504V8.26574H11.9719V7.39098Z' fill='%23424242'/%3E%3Cpath d='M3.18458 9.20279H2.16309V10.0776H3.18458V9.20279Z' fill='%23424242'/%3E%3Cpath d='M5.38142 9.20279H4.35992V10.0776H5.38142V9.20279Z' fill='%23424242'/%3E%3Cpath d='M7.5782 9.20279H6.5567V10.0776H7.5782V9.20279Z' fill='%23424242'/%3E%3Cpath d='M9.77503 9.20279H8.75354V10.0776H9.77503V9.20279Z' fill='%23424242'/%3E%3Cpath d='M11.9719 9.20279H10.9504V10.0776H11.9719V9.20279Z' fill='%23424242'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_12_53'%3E%3Crect width='14' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 1.4rem 1.2rem;
}
.icon-dropdown {
  width: 1.2rem;
  height: 0.1 0.2rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L11.1962 0H0.803848L6 9Z' fill='%23424242'/%3E%3C/svg%3E%0A");
  background-size: 1.2rem 1.2rem;
}
.icon-check {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_24_571)'%3E%3Cpath d='M5.70683 1.39665C4.74621 2.86334 4.46902 3.26763 2.82952 5.5452C2.43691 6.0161 2.1679 6.06549 1.88435 5.94259C1.5081 5.75883 0.471141 3.85454 0.124882 3.35033C-0.239553 2.67498 0.260296 1.78601 0.841029 2.05247C1.14366 2.1903 1.96978 3.59726 2.22152 3.94298C2.99492 2.95408 4.15366 1.1612 4.91071 0.225135C5.38783 -0.365217 6.5393 0.26878 5.70683 1.3978V1.39665Z' fill='white'/%3E%3Cg clip-path='url(%23clip1_24_571)'%3E%3Cpath d='M5.70683 1.39665C4.74621 2.86334 4.46902 3.26763 2.82952 5.5452C2.43691 6.0161 2.1679 6.06549 1.88435 5.94259C1.5081 5.75883 0.471141 3.85454 0.124882 3.35033C-0.239553 2.67498 0.260296 1.78601 0.841029 2.05247C1.14366 2.1903 1.96978 3.59726 2.22152 3.94298C2.99492 2.95408 4.15366 1.1612 4.91071 0.225135C5.38783 -0.365217 6.5393 0.26878 5.70683 1.3978V1.39665Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24_571'%3E%3Crect width='6' height='6' fill='white'/%3E%3C/clipPath%3E%3CclipPath id='clip1_24_571'%3E%3Crect width='6' height='6' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 0.6rem 0.6rem;
  background-position: center center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}
header.is-open {
  border-bottom: 1px solid #001447;
  -webkit-box-shadow: 0 9px 10px rgba(0, 0, 0, 0.13);
          box-shadow: 0 9px 10px rgba(0, 0, 0, 0.13);
  background-color: #fff;
}
header.is-open .header-menuWrap::before {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header.is-open .header__logo a {
  background: url("../image/main/img-logo-head-color.png") no-repeat 0 0/auto;
}
header.is-open .gnb > a {
  position: relative;
  font-weight: 500;
  color: #000;
}
header.is-open .gnb > a.is-active {
  font-weight: 600;
  color: #0053b3;
}
header.is-open .gnb > a.is-active::before {
  position: absolute;
  top: -15px;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #f18506;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
}
header.is-open .gnb > a.is-active + .gnb-depth--02 {
  display: block;
}
header.is-open .side-menu__btn {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
header.is-open .side-menu__btn span {
  border-top: 2px dashed #000;
}
header.sub {
  border-bottom: 1px solid #b6b7b8;
  background-color: #fff;
}
header.sub .header__logo a {
  background: url("../image/main/img-logo-head-color.png") no-repeat 0 0/auto;
}
header.sub .gnb > a {
  font-weight: 500;
  color: #000;
}
header.sub .side-menu__btn {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
header.sub .side-menu__btn span {
  border-top: 2px dashed #000;
}

.header-menuWrap {
  position: relative;
}
.header-menuWrap::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #b6b7b8;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  content: "";
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  width: 1400px;
  margin: 0 auto;
  padding: 30px 0;
}
.header__logo {
  width: 331px;
  height: 32px;
}
.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../image/common/img-logo-head.png") no-repeat 0 0;
  background-size: contain;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: #001447;
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 1400px;
  margin-left: -20px;
  max-width: 1400px;
  margin: 0 auto;
}
.nav a {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 500;
  color: #c9daee;
}
.nav a + a::before {
  position: absolute;
  top: 50%;
  left: -12px;
  width: 3px;
  height: 3px;
  background-color: #89b3de;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
}

.gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.gnb > a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.gnb > div + a {
  margin-left: 45px;
}
.gnb-depth--02 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 330px;
  background: #f7f7f9 url("../image/common/bg-gnb-itemFull.jpg") no-repeat 0 0;
}
.gnb-depth--02__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}
.gnb-depth--02__tit {
  position: relative;
  width: 325px;
  padding-top: 77px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
}
.gnb-depth--03 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 325px);
}
.gnb-depth--03::before {
  position: absolute;
  top: 84px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e5e5;
  content: "";
}
.gnb-depth--03__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.7%;
          flex: 0 1 16.7%;
}
.gnb-depth--03__item > ul {
  height: calc(100% - 85px);
  padding: 20px;
  padding-bottom: 0;
  border-right: 1px solid #eceff0;
}
.gnb-depth--03__item > ul li a {
  font-size: 16px;
  color: #000;
}
.gnb-depth--03__item > ul li + li {
  margin-top: 15px;
}
.gnb-depth--03__item > ul li::before {
  top: 7px;
  background-color: #000;
}
.gnb-depth--03__tit {
  height: 85px;
  padding: 23px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 1.3;
  background-color: #fbfbfc;
  border-right: 1px solid #f6f7f8;
  border-bottom: 1px solid #e4e5e5;
}

.side-menu {
  margin-left: 40px;
}
.side-menu__btn {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 28px;
  height: 28px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.side-menu__btn span {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 2px dashed #fff;
}
.side-menu__btn::before, .side-menu__btn::after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
}
.side-menu__btn::before {
  top: 3px;
  right: 14px;
  background-color: #f18200;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}
.side-menu__btn::after {
  width: 6px;
  height: 6px;
  bottom: 3px;
  left: 18px;
  background-color: #00a2e7;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}
.side-menu__btn.is-click::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}
.side-menu__btn.is-click::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}

.container {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.content {
  padding-top: 132px;
}
.content.main {
  padding-top: 0;
}

footer {
  height: 100%;
  background-color: #f7f7f7;
}
footer address {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #fff;
}
footer address span {
  color: #a3a6ab;
}
footer .copyRight {
  margin-top: 9px;
  font-size: 14px;
  color: #a3a6ab;
}
footer .copyRight span {
  color: #3d8aab;
}
footer.sub address {
  color: #000;
}
footer.sub .copyRight {
  color: #747478;
}

.footer__inner {
  max-width: 1400px;
  width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 0;
}
.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 60px;
  margin-left: auto;
  background-color: #fff;
}
.footer-link + .footer-link {
  margin-left: 10px;
}